// Import page-specific CSS files here.
@import "home";
@import "show";

.nav-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.card-container-my-minions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.image-map {
  position: sticky;
  top: 20px;
}
