// .images-container {
//   display: flex;
//   gap: 10px
// }

// // .images-container img {
// //   border-radius: 30px;
// // }
.vertical-imgs {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#fookingflex{
  display: flex;
  gap: 10px
}
