// .images-container {
//   display: flex;
//   gap: 10px
// }

// // .images-container img {
// //   border-radius: 30px;
// // }

// #fookingflex{
//   display: flex;
//   gap: 10px
// }
.horizontal-img-flex{
  display: flex;
  // width: 80%;
  justify-content: center;
}
.container{
  margin-bottom: 30px;
}
