
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="movies">

        <% @wanted_minion.each do |movie| %>
          <h4><%= movie.title %></h4>
          <%# <p><%= movie.synopsis %>
        <% end %>
      </div>
    </div>
  </div>
</div>
