<div>
  <div class="banner">
    <div class="container">
      <h1><strong>Uh, la cucaracha?</strong></h1>
      <p>Browse through millions of Minions and find your perfect match.</p>
      <a class="btn-blue" href="#">Start now</a>
      <img src="https://www.pngmart.com/files/12/Group-Minions-PNG-Photo.png" alt="minions">
    </div>
  </div>
</div>
