.banner {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 60%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  h1 {
    color: $blue;
    font-size: 3.2em;
  }
  p {
    font-size: 1.2em;
  }
}
