.footer-container {
  display: flex;
  background-color: $blue;
  padding: 15px 300px;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
  z-index: 1;
  // height: 20vh
  ;
}

.footer-container .socials {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.footer-container .socials i {
  color: $light-gray;
}

.footer-container .socials i:hover {
  color: rgb(180, 180, 180);
}
