$shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.form_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  margin: 50px 0px;
}

button{
  border: none;
  position: absolute;
  right: 5%;
  background-color: white;
}
form {
  position: relative;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.search_input{
  padding: 8px 12px;
  border-radius: 20px;
  box-shadow: $shadow-lg;
  border: none;
}
.icon_minion_flex {
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(202, 142, 30)
}
